*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 0.8rem;
    min-height: 100svh;
}

.qr-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.6rem;
    max-width: 16rem;
    border-radius: 8px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 20px 5px hsl(216, 15%, 48%);
}

.qr-box img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

.qr-box h2 {
    margin-top: 0.6rem;
    font-size: 1.2rem;
}

.qr-box p {
    margin: 1.2rem 0.4rem;
    font-size: 0.8rem;
    color: hsl(216, 15%, 48%);
}
